.imgHero{
    height:42rem;
    
}
.logoDiv{
    position:absolute;
    bottom:12rem;
    text-align:center;
    width:100%;
    color:rgb(255, 255, 255);
    max-height:20rem;
}
.slogan{
    
    color:rgba(255, 255, 255, 0.911);
    width:100%;
    font-family:serif ;
    font-weight:600;
}

/*@media screen and (min-width: 1024px){
    .logoDiv {
       bottom:40rem}
}

@media screen and (min-width: 1440px){
    .logoDiv {
       bottom:50rem}
}
@media screen and (min-width: 2560px){
    .logoDiv {
       bottom:130rem}
}*/

