.img {
  border-radius: 0.8rem;
  height: 18rem;
  margin-bottom: 1rem;
  object-fit: cover;
}
.Carousel {
  margin-top: 2rem;
  background-color: rgb(255, 255, 255);
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
}

.imgText {
  width: 100%;

  background-color: rgb(90, 103, 224);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.8rem;
  margin-top: 1rem;
}

.imgText:hover {
  background-color: #6e2375;
}
/*Navbar*/
.link {
  color: white !important;
}
.navBar {
  height: 5rem !important;
  justify-content: center;
}
.responsiveButton {
  color: rgb(90, 103, 224);
}
/*Cities*/
.citiesContainer {
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(84, 92, 209);
}
.inputCitie {
  margin-bottom: 1.5rem;
}

/*Footer*/

.mainFooter {
  height: 13.2rem;
  background-color: rgb(84, 92, 209);
}
a {
  margin: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}
/*CiTies*/

.totalCards {
  display: flex;
  flex-direction: column;
}
.citiesTitle {
  color: white;
  margin-bottom: 1.5rem;
}
.citiesContainer {
  height: max-content;
}

.imgCard {
  width: 80%;
  height: 25rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.8rem;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.cityCard {
  height: 65vh;
}
.cardContainer {
  position: relative;
  bottom: 26rem;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 1.2rem;
}
.cityDescription {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.noResults {
  height: 40rem;
  color: white;
}
/*CITIES DETAILS*/

.detailsPage {
  height: 40rem;
}
