
.img{
   
    border-radius:0.8rem;
    height:18rem;
    margin-bottom:1rem;
    
    
}
.Carousel{
    margin-top: 2rem;
    background-color:rgb(255, 255, 255);
    width:75%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    
   
}


.imgText{
    width:100%;
   
    background-color: rgb(90, 103, 224);
    border:1px solid rgb(0, 0, 0);
    border-radius:0.8rem;
    margin-top:1rem;
}

.imgText:hover{
    background-color:rgba(78, 71, 168, 0.767);
    border:2px solid rgb(0, 0, 0);

}
/*Navbar*/
.link{
    color:white!important;
   
   
    
}
.navBar{
    height:5rem !important;
    justify-content: center;

}
.responsiveButton{
    color:rgb(90, 103, 224);
}
/*Cities*/
.citiesContainer{

height:45rem;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

/*Footer*/

.mainFooter{
    height: 11rem;
    background-color:rgb(84, 92, 209);
}
a{
    margin:1rem;
    text-decoration:none;
    color:rgb(255, 255, 255);
    font-size:1.3rem;
}